@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  border: 2px solid #c39353;
  padding: 14px 0 14px 20px;
  border-radius: 10px;
  background-color: #152c5e;
  color: #b6c8ef;
  &::placeholder {
    color: #b6c8ef;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
